.header {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #ffff;
}

.header * {
    color: #ffff;
}

.teamIcon {
    font-size: 26px;
    margin-right: 12px;
}
